

<!-- szablon navbar skopiowany z www bootstrapa-->
<!-- wypełniamy tutaj bloki które nastepnie base.html podczyta-->

{% extends "base.html"%}

{% block title%}
Liga piłki nożnej
{% endblock%}

{% block content%}

<br><br>Tworzenie ligi<br><br>
  <form id="formularz" action="{{ url_for('start')}}" method="POST">
    <div class="mb-3">
      <label for="formFile" class="form-label">   Utwórz plik teams.txt w folderze aplikacji <br></label><br>
      <label for="formFile" class="form-label">   każda nazwa drużyny w osobnej linii<br></label><br>
    <!-- iteracja po wiadomościach flash zebranych w pliku cookie <input class="form-control" type="file" id="formFile"> --> 
    </div>
    <br><button type="submit" class="btn btn-primary">Importuj dane</button>
  </form><br>
  {% for message in get_flashed_messages()%}
  {{ message}}  <!-- iteracja po wiadomościach flash zebranych w pliku cookie -->
  <!-- flask wybierze odpwiedni i wymaga podania tzw secret key -->
  {%endfor%}

{% endblock %}
